.container{
    background-color: rgb(235, 232, 232);
    box-shadow: 1px 1px 10px gray;
    margin-top: 150px;
    width: 300px;
    height: 400px; 
    border-radius: 25px;
}
.input{
    height: 25px;
    border-radius: 20px;
    border-style:double;
    padding-left: 15px;

}
.button{
    margin-top: 30px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    color: rgb(248, 246, 249);
    font-weight: bold;
    background-color:blueviolet;
}